<img src="assets/marvel.jpg" class="img-fluid" alt="marvel">

<div class="container">
  <div class="row align-items-start">
    <% @filme_externo.each do |filme| %>

      <div class="col">
        <div class="card p-2 m-3" style="width: 18rem;">
          <div class="flip">
            <div class="front">
              <img src=<%= @poster+filme.poster_path %> class="card-img-top" alt="Poster do filme">
            </div>
            <div class="card-body">
              <div class="back">
                <h3 class="card-text"><%= filme.title %></h3>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Descrição
                </button>
              </div>      
            </div>
          </div>
        </div>
      </div>
      
    <% end %>
  </div>
</div>