<div class="container">
  <div class="row align-items-start">
    <% @pessoas.each do |pessoa| %>
      <div class="col">
        <div class="card card-custom p-2 m-3" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-text"><%= pessoa.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>