/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 */
 @import "bootstrap";

body {
  background-color: whitesmoke;
}

.navbar-custom {
  background-color: #032541;
  color: #fff;
}

.link-custom {
  color: #fff;
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.img-fluid {
  width: 100%;
}

.card {
  background-color: transparent;
  position: relative;
  height: 278px;
  width: 185px;
  margin: 5px;
  border: none;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.card .flip {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .flip{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: white;
  transform: rotateY(180deg);
  height: 278px;
  width: 185px;
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5 );
  overflow: hidden;
}

.front img{
  height: 278px;
  width: 185px;
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5 );
}


