<div class="container">
  <div class="row align-items-start">
    <% @filmes.each do |filme| %>
      <div class="col">
        <div class="card card-custom p-2 m-3" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-text"><%= filme.nome %></h3>
            <p class="card-text"><%= filme.descricao %></p>
            <button type="button" class="btn btn-danger">Excluir</button>
            <button type="button" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>