<div class="container">
  <div class="row align-items-start">
    <% @series.each do |serie| %>
      <div class="col">
        <div class="card card-custom p-2 m-3" style="width: 18rem;">
          <img src=<%= @poster+serie.poster_path %> class="card-img-top" alt="Poster do filme">
          <div class="card-body">
            <h3 class="card-text"><%= serie.name %></h3>
            <p class="card-text"><%= serie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>