<div class="container">
  <div class="row align-items-start">
    <% @series.each do |serie| %>

      <div class="col">
        <div class="card p-2 m-3" style="width: 18rem;">
          <div class="flip">
            <div class="front">
              <img src=<%= @poster+serie.poster_path %> class="card-img-top" alt="Poster do serie">
            </div>
            <div class="card-body">
              <div class="back">
                <h3 class="card-text"><%= serie.name %></h3>
              </div>      
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>